/* *{
  margin: 0rem;
  padding:1rem;
  border: 5px black solid;
} */

.body {
  display: flex;  
  flex-direction: row;
  height: 3em;
  background-color: cadetblue;
  padding-left: 2em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

body h5{
  color:blanchedalmond;
  font:  1em "Fira Sans", sans-serif;
  margin-top: 1em;
  
}
